<html>
    <head>
        {% if title %}
        <title>{{ title }} </title>
        {% else %}
        <title>Welcome to USPTO Claim Similarity Finder</title>
        {% endif %}
    </head>
    <body>
        <div>
            USPTO:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('claim') }}">Claim</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>